{% extends 'base.html.twig' %}

{% block title %}Bureau
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('css/offres.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<header>
		<nav>
			<ul>
				<li><a href="/home" id="home"><img src="{{asset('img/home-closed.png')}}">Accueil</a>
				</li>
				<li><a href="/" id="news"><img src="{{asset('img/news-closed.png')}}">Actualités</a>
				</li>
				<li><a href="/user/offers/desktop/" id="offers"><img src="{{asset('img/discount-open.png')}}">Offres</a>
				</li>
			</ul>
		</nav>
	</header>

    <main>
        <div id="banner_top">
            <section id="banner_top_filter">
                <h1>Offres</h1>
                <p>Retrouvez toutes les offres du ce de campingaz.</p>
            </section>
        </div>

		<div id="link">
			<div class="row">
				<a href="/user/offers/desktop">Le bureau</a>
				<a href="/user/offers/hobbies">Culture / Loisirs / sports / Aide à la scolarité et barèmes</a>
			</div>

			<div class="row">
				<a href="/user/offers/travel">Voyages et barème</a>
				<a href="/user/offers/parteners">Partenaires</a>
			</div>

			<div class="row">
				<a href="/user/offers/ticket">Billeteries</a>
			</div>
		</div>

		<div id="bar">
			
		</div>
		{% if desktop is empty %}
			<img id="empty" src="{{asset('img/empty.png')}}">
			<h2 id="empty_content">Aucune offres...</h2>
		{% endif %}
		{% for desktop in desktop %}
			<div class="offers_db">
				<h2>{{desktop.title}}</h2>
				{% if desktop is not empty %}
					<p>{{desktop.description}}<a id="link_offers_db" href="{{desktop.title}}"> lien vers le partenaire</a>.</p>
				{% endif %}
			</div>
		{% endfor %}
    </main>
{% endblock %}
